[submodule "rtl/processor_core/picorv32"]
	path = rtl/processor_core/picorv32
	url = https://github.com/cliffordwolf/picorv32.git
[submodule "rtl/i2c_ip/verilog-i2c"]
	path = rtl/i2c_ip/verilog-i2c
	url = https://github.com/alexforencich/verilog-i2c.git
[submodule "rtl/uart_ip/verilog-uart"]
	path = rtl/uart_ip/verilog-uart
	url = https://github.com/alexforencich/verilog-uart.git
